@media (max-width: 991px) {
  #landing {
    overflow-x: hidden;
    position: relative;
  }
  #landing::before,
  #landing::after {
    filter: blur(7px);
  }
  #myCustomNav {
    transition: 0.3s ease-in-out;
    width: 0%;
    background-color: rgba(255, 255, 255, 0.925);
    box-shadow: rgba(100, 100, 111, 0.28) -5px 10px 29px 0px;
    display: block;
    position: absolute;
    top: 0px;
    right: 0;
    height: 100vh;
  }

  #myCustomNav > span {
    font-size: 2rem;
    display: block;
    padding: 10px 30px;
    width: fit-content;
    margin-left: auto;
  }
  #myCustomNav ul {
    margin-top: 20px;
  }

  #landing .content {
    padding: 0 20px;
  }
  #landing .content h4 {
    font-size: 14px;
  }
  #landing .content h2 {
    font-size: 40px;
  }

  .work_card::after {
   display: none;
  }
}

@media (max-width: 450px) {
  #landing::before {
    right: 10px;
  }
  #landing::after {
    width: 200px;
  }
}
